/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.p {
    margin-bottom:80px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#logo {
    font-family: 'Cantarell', sans-serif;
    height: 80px;
}






#mapid {
    height: 490px;
    width:75%;
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover; 
    object-fit: cover ;
}

.card-title {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn btn-primary{
    text-align: center;
}
/*************FOOTER***************/
.page-footer {
    text-align: center;
    background: rgb(64, 179, 224);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copyright-footer {
    color: rgba(30, 139, 195, 1);
}

/***********CARDS***************/

.card-container {
    perspective: 700px;
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.foto {
    height: 200px;
}

    .foto:hover {
        transform: scale(1.1);
    }