/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.p {
    margin-bottom:80px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#logo {
    font-family: 'Cantarell', sans-serif;
    height: 80px;
}

/*Sticky footer styles
-------------------------------------------------- 
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}




 Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}

body {
   Margin bottom by footer height 
  margin-bottom: 60px;
}

    */



#mapid {
    height: 490px;
    width:75%;
    border-radius: 10px;

   
}

.card-img-top {
    width: 100%;
    height: 30vw; /*(Viewport Height units) for a more mobile-friendly experience.*/
    object-fit: cover; /*object-fit: cover enables zoom instead of image stretching.*/
}

.card-title {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn btn-primary{
    text-align: center;
}
/*************FOOTER***************/
.page-footer {
    text-align: center;
    background: rgb(64, 179, 224);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.copyright-footer {
    color: rgba(30, 139, 195, 1);
}

//***********CARDS***************/
.card-container {
    perspective: 700px;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}
