@{
    ViewData["Title"] = "Home Page";

}

    <div class="row">
        <div class="col-4" id="inicio">
            <form asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <label>Alias del dispositivo</label>
                    <input id="alias" name="alias" type="text" class="form-control" placeholder="Introduce el alias">

                </div>
                <div class="form-group">
                    <label>Nombre del canal (nuevo o existente)</label>
                    <input id="canal" type="text" class="form-control" placeholder="Introduce el canal">
                </div>
                <button type="submit" class="btn btn-primary">Acceder</button>
            </form>
        </div>
        @{bool deviceExists = (bool)ViewData["Viewdata"]; }
       


        @if (deviceExists)
        {

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Conflicto de alias</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>El alias introducido ya existe.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

@section Scripts {
    @if (deviceExists){
    <script>
        $('#exampleModal').modal();
    </script>
     }
    }