﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>

﻿@{
    ViewData["Title"] = "Home page";
}

<body>
        <div id="mapid"></div>
</body>