
@{
    ViewData["Title"] = "MapsRoutes";
    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["canal"];
}


<!-- page-header -->

<div class="page-header-ruta">
    <div class="row">
        <div class="offset-1 page-caption">
            <h2 class="page-title text-center"> Nombre del canal: @canal</h2>
            <h2 class="text-center"> Comprueba la(s) ruta(s) por donde has estado</h2>
        </div>
        <div class="offset-9">
            <h4 class="text-capitalize-"> Mapa de tus rutas</h4>
        </div>
    </div>
</div>

<!-- /.page-header-->

<title>Geolocation</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<div hidden class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            @*longitud...*@<input hidden type="text" id="userInput" />
            <br />
            @*latitud...*@<input hidden type="text" id="messageInput" />
            <br />
            @*alias...*@<input hidden type="text" id="alias" value="@ViewData["alias"]" />
            <br />
            @*canal...*@<input hidden type="text" id="canal" value="@ViewData["channel"]" />
            <br />
            <input hidden type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
</div>




    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />

    <div style="position: relative">
        <div id="map" style="height: 400px"></div>
        <script>
            var map = L.Wrld.map("map", "91a68d505577cb772e2ba97464e831bf", {
                center: [37.780813, -122.404750],
                zoom: 17
            });

            var polylinePoints = [
                [37.781814, -122.404740],
                [37.781719, -122.404637],
                [37.781489, -122.404949],
                [37.780704, -122.403945],
                [37.780012, -122.404827]
            ];

            var polyline = L.polyline(polylinePoints, { color: 'red' }).addTo(map);
        </script>
    </div>
