@using Newtonsoft.Json;

@model IEnumerable<ProyectoGeolocalizacion.Models.Location>

@{

    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["canal"];
    List<Location> listaLocations = (List<Location>)Model;

    string locations = "";
    foreach (Location x in listaLocations)
    {

        locations += JsonConvert.SerializeObject(new { x.Latitude, x.Longitude }, Formatting.Indented);

    }

}
@{
    ViewData["Title"] = "ShowRoute";
}

<h1>ShowRoute</h1>

<p  id="locations">@locations</p>

