
@{
    ViewData["Title"] = "Index";
    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["channel"];
}



<div>

    <p>Nombre del canal: @ViewData["channel"]</p>

 </div>
<div class="card-deck">
    <div class="card">
        <h3 class="card-title">Posición</h3>
        <img class="card-img-top" src="https://camo.githubusercontent.com/a0281bc5c0b55f8175fd3ed18c972b320c60e254/68747470733a2f2f7261772e6769746875622e636f6d2f6c766f6f6764742f4c6561666c65742e617765736f6d652d6d61726b6572732f6d61737465722f73637265656e73686f74732f73637265656e73686f742d736f66742e706e67" alt="Card image cap">
        <div class="card-body text-center">
            <button type="button" class="btn btn-primary">Go!</button>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="MapsPosition" asp-action="Index"  asp-route-alias="@alias" asp-route-canal="@canal">Acceder</a>
        </div>
    </div>

    <div class="card">
        <h3 class="card-title">Calor</h3>
        <img class="card-img-top" src="https://assets.dmagstatic.com/wp-content/uploads/2019/05/dallas_mayor_2019_early_voting-heatmap.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <button type="button" class="btn btn-primary">Go!</button>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title">Ruta</h3>
        <img class="card-img-top" src="https://user-images.githubusercontent.com/11360512/38074134-8cb8495a-334f-11e8-94e1-8738337ba16f.png" alt="Card image cap">
        <div class="card-body text-center">
            <button type="button" class="btn btn-primary">Go!</button>
        </div>
    </div>
</div>
