
@{
    ViewData["Title"] = "Index";
    string alias = (string)ViewData["alias"];
    string canal = (string)ViewData["canal"];
}

<!-- page-header -->
<div class="page-header-heatmap">
    <div class="row">
        <div class="offset-1 page-caption">
            <h2 class="page-title text-center"> Nombre del canal: @canal</h2>
            <h2 class="text-center"> Concentración de dispositivos</h2>
        </div>
        <div class="offset-9">
            <h4 class="text-capitalize-"> Mapa de calor</h4>
        </div>
    </div>
</div>
<!-- /.page-header-->

<div class="offset-1 col-7" id="heatmap"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/heatmap.js@2.0.5/build/heatmap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.min.js"></script>
    <script src="~/js/leaflet-heatmap.js" asp-append-version="true"></script>
}